# 默认忽略的文件
/shelf/
/workspace.xml
# Rider 忽略的文件
/contentModel.xml
/.idea.MyMusicPlayer.iml
/projectSettingsUpdater.xml
/modules.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# DS_Store 文件（macOS 系统生成的隐藏文件）
.DS_Store
# bin 目录（编译生成的文件）
/bin/
# dmg 文件（macOS 系统生成的磁盘映像文件）
*.dmg
